:root{

        --primer-color: #DED9D7;
        --segundo-color: #CAC2BE;
        --tercero-color: #B6AAA5;
        --quarto-color: #A1928C;
        --quinto-color: #8C7A73;
        --sexto-color: #73645E;
        --font-main: "Yellowtail", cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: var(--font-main);
    color: var(--quinto-color);
    font-size: 45px;
}

p{
     font-family: var(--font-main);
    color: var(--segundo-color);
    font-size: 25px;
}

.main {
  background-color: rgb(151, 131, 131);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box; 
  padding-top: 100px;
}

.contenedor{
    display: flex;
    width: 75%;
    height: 75%;
}

.foto{
    width: 90%;
    border-radius: 150px;
}

.imgbg{
    background-color: rgb(175, 161, 161);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 25px;
    width: 50%;
}

.left{
    background-color: var(--primer-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    padding-top:50px ;
    padding-bottom: 25px;
}

.tx1{

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}


.icon{
    display: flex;
    gap:10px;
}

.right{
    background-color: var(--quarto-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    padding-top:50px ;
}

.texto {
  width: 70%;            
  text-align: left;      
}

.texto h1 {
  margin-bottom: 20px;
}

.btnw{

    width: 215px;
    height: 35px;
    border-radius: 1px;   
    border-style: none;
    color: var(--tercero-color);
    background-color: #887e7a;
    font-size: 15px;
    font-family: var(--font-main);
}


.btn{
    display: flex;
    gap: 50px;
    margin: 50px;
}

.ic{
    text-decoration: none;
    color: inherit;
}
